:root {
    --primero: #523B25;
    --segundo: #423529;
    --terciario: #924012;
    --cuarto: #887765;
    --quinto: #E3D3C4; /*en lugar de blanco*/
    --negro: #000000;
}
/*generales*/
html{
    font-size: 62,5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}
*, *:before, *:after {
    box-sizing: inherit; /*hack para BOX MODEL */
}
body {
    font-size: 16px;
    font-family: 'Bebas Neue', sans-serif;
    color: var(--primero);
}
h1 {
    font-size: 1.8rem;
}
h2 {
    font-size: 1.5rem;
    font-weight: 100;
}
h3 {
    font-size: 1rem;
    font-weight: 100;
}
h1, h2, h3 {
    text-align: center;
}
a {
    text-decoration: none; /*elimina subrayado de links*/
    color: var(--negro);
}
a:hover {
    color: var(--terciario);
}
/*termina generales*/

/*header*/
/*banner*/
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primero);
    color: var(--quinto);
    text-align: center;
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 20px;
    z-index: 1000;
}

.banner-text {
    font-size: 1rem;
    font-weight: 100;
    animation: slideLeft 25s linear infinite;
}

@keyframes slideLeft {
    0% {
        transform: translateX(100%); /* Comienza fuera del área visible hacia la derecha */
    }
    100% {
        transform: translateX(-100%); /* Termina fuera del área visible hacia la izquierda */
    }
}

h1.titulo {
    font-family: 
    font-weight: 100;
    color: var(--quinto);
    text-align: center;
}

nav {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-link {
    font-weight: 100;
    color: var(--primero);
    padding-right: 3rem;
    align-items: center;
}

section.principal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.subtitulo {
    color: var(--terciario);
    padding: 1rem;

}

.imagen {
    width: 100%;
    height: 350px;
    padding: 1rem, 1rem, 2rem, 2rem;
    align-items: center;
}

footer {
    background-color: var(--terciario);
    color: var(--quinto);
    text-align: center;
}

/*responsive*/


/*header {
    width: 100vw;
    height:100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*banner*/
/*
.banner {
    width: 100vw;
    height: 30px;
    display: flex;
    align-items: center;
    background-color: var(--primero);
    color: var(--quinto);    
}

p.banner-text {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    margin: 0;
    font-size: 1rem;
    font-weight: 100;
    animation: slideLeft 25s linear infinite;  
}

@keyframes slideLeft {
    0% {
        transform: translateX(100%); /* Comienza fuera del área visible hacia la derecha */
    }
    100% {
        transform: translateX(-100%); /* Termina fuera del área visible hacia la izquierda */
    }
}*/

/*button {
    position: absolute;
    top: 80%;
    left: 20%;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
}
button.learn-more {
    font-weight: normal;
    color: var(--quinto);
    text-transform: uppercase;
    padding: 0.5rem 3rem;
    background: var(--terciario);
    border: 1px solid #241d17;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}
button.learn-more::before {
    position: fixed;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--primero);
    border-radius: inherit;
    box-shadow: 0 0 0 1px var(--primero), 0 0.6em 0 0 var(--segundo);
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
button.learn-more:hover {
    background: var(--terciario);
    transform: translate(0, 0.25em);
}
button.learn-more:hover::before {
    box-shadow: 0 0 0 1px var(--primero), 0 0.4rem 0 0 var(--segundo);
    transform: translate3d(0, 0.4em, -1em);
}
button.learn-more:active {
    background: var(--terciario);
    transform: translate(0em, 0.75em);
}
button.learn-more:active::before {
    box-shadow: 0 0 0 1px var(--primero), 0 0 var(--segundo);
    transform: translate3d(0, 0, -1em);
}*/